<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd"  
      xml:lang="en"  
      lang="en"> 
    <head> 
        <title wicket:id="title">title comes here</title>

        <wicket:head> 
            <wicket:link> 
                <link rel="stylesheet" type="text/css" href="style.css"/> 
            </wicket:link> 
        </wicket:head> 
    </head> 
    <body> 
        <header wicket:id="headerpanel" />
        <!-- TODO NAVIGATION -->
        <!-- NOTE Man könnte die Navigation auch als Komponente einfügen (auch wie header/footerpanel -->
        <div>
            <ul>
                Navigation:
                <li><a href="#" wicket:id="intro">Introduction</a></li>
                <li><a href="#" wicket:id="rechnung">Invoice-Form</a></li>
            </ul>
        </div>

        <section class="content_container"> 
            <wicket:child/> 
        </section> 
        <footer wicket:id="footerpanel" /> 
    </body> 
</html>

