<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd"  
      xml:lang="en"  
      lang="en"> 
    <head><title>Invoice2XML</title></head>
    <body>

        <wicket:panel>
            <div>
                <h1>Invoice2XML</h1>

                <center>
                    <p id="titleblock">
                        <b><font size="+1"><span wicket:id="exampleTitle">Creating, validating invoices and converting them to XML!</span></font></b>
                        <br/>
                        <wicket:link>
                            <img src="images/Logo.jpg" />
                        </wicket:link>
                    </p>
                </center>
            </div>
        </wicket:panel>

    </body>
</html>
